h1{
    color: Black;
    text-align: center;
    font-family: "Bahnschrift";
}

TD{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin: 100px;
    display: inline-block;
    font-size: 36px;
}


