h1 {
    color: Black;
    text-align: center;
    font-family: "SansSerif", serif;

}

TD {
    display: inline-block;
    font-size: 100px;
    background-color: red;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-spacing: initial;

}


